<ion-app>
  <ion-menu side="start" contentId="mainContent">
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="todolist">Todo List</ion-item>
          <ion-item routerLink="graphics">Graphics</ion-item>
          <ion-item routerLink="chat">Chat</ion-item>
          <ion-item routerLink="settings">Settings  </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainContent" main class="ion-page"></ion-router-outlet>
</ion-app>
