<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prototype
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="devices">
        <ion-icon name="hardware-chip-outline"></ion-icon>
        <ion-label>Devices</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="graphics">
        <ion-icon name="shapes-outline"></ion-icon>
        <ion-label>Graphics</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>



