<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="user">
        <ion-icon name="person"></ion-icon>
        <ion-label>users</ion-label>
      </ion-tab-button>

<!--      <ion-tab-button tab="user/1">-->
<!--        <ion-icon name="person"></ion-icon>-->
<!--        <ion-label>Speakers</ion-label>-->
<!--      </ion-tab-button>-->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>



